<div class="container-fluid">
  <mat-card class="mat-elevation-z8 col-lg-4 col-md-10 col-sm-12 mx-auto my-auto p-4">
    <mat-card-content class="flex flex-row">

    </mat-card-content>

    <mat-divider color="primary"></mat-divider>
    <button matFab extended color="danger" (click)="sendToOneDialog()" class="m-4">
      <mat-icon class="material-symbols-outlined">send_money</mat-icon>
      Send USDC To One Account
    </button>
    <mat-divider color="primary"></mat-divider>



    <mat-divider color="primary"></mat-divider>
    <button matFab extended color="danger" (click)="sendToManyDialog()" class="m-4">
      <mat-icon class="material-symbols-outlined">send_money</mat-icon>
      Send USDC To Multiple Accounts
    </button>
    <mat-divider color="primary"></mat-divider>


  </mat-card>
</div>
