<h2 mat-dialog-title class="fw-bold h2 text-danger">Send USDC To Multiple Accounts</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
  <mat-progress-bar color="accent" mode="query"></mat-progress-bar>
  <mat-card class="mat-elevation-z8">
    <mat-card-content>
      <mat-divider color="primary"></mat-divider>
      <form [formGroup]="sendToManyForm" class="form">

        <mat-form-field appearance="fill" class="form-control">
          <mat-label>Recipient</mat-label>
          <input type="text" matInput formControlName="recipient" placeholder="Enter Recipient" required>
          <mat-hint>Recipient Wallet Address</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-control">
          <mat-label>Amount</mat-label>
          <input type="number" matInput formControlName="amount" placeholder="Enter amount" required>
          <mat-hint>Amount to Send</mat-hint>
        </mat-form-field>


        <mat-form-field appearance="fill" class="form-control">
          <mat-label>Blockchain</mat-label>
          <mat-select formControlName="chain" required>
            @for (chain of Chains; track chain) {
            <mat-option [value]="chain">{{ chain }}</mat-option>
            }
          </mat-select>
          <mat-hint>Select Blockchain</mat-hint>
        </mat-form-field>

      </form>

      @if (Recipients.length > 0) {
      <div class="alert alert-info" role="alert">
        <ul class="list-group">
          @for (recipient of Recipients; track recipient) {
          <li class="list-group-item">Address: {{ recipient.address }} - Chain: {{ recipient.chain }} - Amount: {{
            recipient.amount }}</li>
          }
        </ul>
      </div>
      }

      <mat-card-actions>
        @if (sendToManyForm.value.chain !== '' && sendToManyForm.value.recipient !== '') {
        <mat-divider color="accent"></mat-divider>
        <button matFab extended color="warn" (click)="VerifyAddress()">
          <mat-icon class="material-symbols-outlined">check</mat-icon>
          Verify
        </button>
        <mat-divider color="accent"></mat-divider>
        }

        <button matButton="elevated" type="submit" color="primary" (click)="addRecipient()">
          <mat-icon class="material-symbols-outlined">add</mat-icon>
          Add New Recipient
        </button>

        <button matButton="elevated" type="submit" color="danger" (click)="completeTransaction()">
          <mat-icon class="material-symbols-outlined">send_money</mat-icon>
          Complete Transaction
        </button>
      </mat-card-actions>

      @if (VerifyResponse) {

      <mat-divider color="accent"></mat-divider>
      <div class="alert alert-warning" role="alert"></div>
      <mat-divider color="accent"></mat-divider>

      }

      <mat-divider color="primary"></mat-divider>

    </mat-card-content>
    <!--
    <mat-card-content>
      <mat-divider></mat-divider>
      @if (WalletCreateResponse().Wallet.id !== '') {
      <div class="alert alert-success" role="alert">
        <summary>
          <ul class="list-group">
            <li class="list-group-item">Wallet Set ID: {{ WalletCreateResponse().Wallet.address }}</li>
            <li class="list-group-item">Created On: {{ WalletCreateResponse().Wallet.createDate | date }}</li>
            <li class="list-group-item">User: {{ WalletCreateResponse().User.id}} </li>
          </ul>
          <details>
            <ul class="list-group">
              <li class="list-group-item">Wallet Address: {{ WalletCreateResponse().Wallet.address }}</li>
              <li class="list-group-item">User Token: {{ WalletCreateResponse().UserToken }}</li>
            </ul>
          </details>
        </summary>
        @if (WalletBackupResponse().cid !== '') {
        <div class="alert alert-info" role="alert">
          <summary>
            <p class="h5 text-black fw-bold">IPFS CID: <span class="text-danger">{{ WalletBackupResponse().cid
                }}</span></p>

            <small class="text-muted text-danger">Please keep IPFS safely for Wallet Recovery.</small>
            <details>
              <ul class="list-group">
                <li class="list-group-item">IPFS CID: {{ WalletBackupResponse().cid }}</li>
                <li class="list-group-item">IPFS Name: {{ WalletBackupResponse().name }}</li>
                <li class="list-group-item">IPFS Created At {{ WalletBackupResponse().created_at | date }}</li>
                <li class="list-group-item">IPFS Updated At {{ WalletBackupResponse().updated_at | date }}</li>
              </ul>
            </details>
          </summary>
        </div>
        } @else {
        <div class="alert alert-warning" role="alert">
          <mat-progress-bar mode="query">Looking for wallet with IPFS CID</mat-progress-bar>
        </div>
        }
      </div>
      } @else {
      <mat-progress-bar mode="query">Loading Response....</mat-progress-bar>
      }

    </mat-card-content>

  -->
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matFab extended color="danger" [mat-dialog-close]="true" cdkFocusInitial>
    <mat-icon class="material-symbols-outlined">close</mat-icon>
    Close
  </button>
</mat-dialog-actions>
